[submodule "Namemory"]
	path = Namemory
	url = git@github.com:mapledeveh/Namemory.git
[submodule "BetterRest"]
	path = BetterRest
	url = git@github.com:mapledeveh/BetterRest.git
[submodule "Bookworm"]
	path = Bookworm
	url = git@github.com:mapledeveh/Bookworm.git
