[submodule "Namemory"]
	path = Namemory
	url = git@github.com:mapledeveh/Namemory.git
[submodule "BetterRest"]
	path = BetterRest
	url = git@github.com:mapledeveh/BetterRest.git
[submodule "Bookworm"]
	path = Bookworm
	url = git@github.com:mapledeveh/Bookworm.git
[submodule "WordScramble"]
	path = WordScramble
	url = git@github.com:mapledeveh/WordScramble.git
[submodule "BucketList"]
	path = BucketList
	url = git@github.com:mapledeveh/BucketList.git
[submodule "CupcakeCorner"]
	path = CupcakeCorner
	url = git@github.com:mapledeveh/CupcakeCorner.git
[submodule "iExpense"]
	path = iExpense
	url = git@github.com:mapledeveh/iExpense.git
[submodule "CoreDataProject"]
	path = CoreDataProject
	url = git@github.com:mapledeveh/CoreDataProject.git
[submodule "InstaFilter"]
	path = InstaFilter
	url = git@github.com:mapledeveh/InstaFilter.git
