[submodule "Namemory"]
	path = Namemory
	url = git@github.com:mapledeveh/Namemory.git
[submodule "BetterRest"]
	path = BetterRest
	url = git@github.com:mapledeveh/BetterRest.git
[submodule "Bookworm"]
	path = Bookworm
	url = git@github.com:mapledeveh/Bookworm.git
[submodule "WordScramble"]
	path = WordScramble
	url = git@github.com:mapledeveh/WordScramble.git
[submodule "BucketList"]
	path = BucketList
	url = git@github.com:mapledeveh/BucketList.git
[submodule "CupcakeCorner"]
	path = CupcakeCorner
	url = git@github.com:mapledeveh/CupcakeCorner.git
[submodule "iExpense"]
	path = iExpense
	url = git@github.com:mapledeveh/iExpense.git
[submodule "CoreDataProject"]
	path = CoreDataProject
	url = git@github.com:mapledeveh/CoreDataProject.git
[submodule "InstaFilter"]
	path = InstaFilter
	url = git@github.com:mapledeveh/InstaFilter.git
[submodule "Moonshot"]
	path = Moonshot
	url = git@github.com:mapledeveh/Moonshot.git
[submodule "Animations"]
	path = Animations
	url = git@github.com:mapledeveh/Animations.git
[submodule "Drawing"]
	path = Drawing
	url = git@github.com:mapledeveh/Drawing.git
[submodule "GuessTheFlag"]
	path = GuessTheFlag
	url = git@github.com:mapledeveh/GuessTheFlag.git
[submodule "ViewsAndModifiers"]
	path = ViewsAndModifiers
	url = git@github.com:mapledeveh/ViewsAndModifiers.git
[submodule "WeSplit"]
	path = WeSplit
	url = git@github.com:mapledeveh/WeSplit.git
[submodule "AccessibilitySandbox"]
	path = AccessibilitySandbox
	url = git@github.com:mapledeveh/AccessibilitySandbox.git
[submodule "BuddyFace"]
	path = BuddyFace
	url = git@github.com:mapledeveh/BuddyFace.git
